<suite name="mysuite">
	<test name="mytest">
		<parameter name="browser" value="chrome"> </parameter>
		<listeners>
			<listener class-name="listeners.Listeners"></listener>
			<listener class-name="listeners.RetryListener"></listener>
		</listeners>
		<classes>
			<class name="testscript.LogOutTest">
				<!--  <methods>
			<include name="verifyLoginwithvalidcredentials"></include>
			</methods>-->

			</class>
		</classes>
	</test>

</suite>
